In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
df.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [3]:
df.head(10)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1

In [10]:
##### PROCESSING A TEXT TO KEYWORDS #####
from sklearn.feature_extraction.text import CountVectorizer
NotNecesaryWord = [" and ", " are ", " or ", " the ", " is ", " this ", " of ", "  "]
punctuations = [",",".",";","!","?", "\"", "(", ")", "@", "'"]

matrix = []

for text in df.text:
    text = text.lower()
    text = " " + text + " "
    for w in NotNecesaryWord: 
        text = text.replace(w, ' ')
    for p in punctuations:
        text = text.replace(p, '')
    matrix.append(text)

vectorText = CountVectorizer()
XVec = vectorText.fit_transform(matrix)
feature_names= vectorText.get_feature_names_out()
X_array = XVec.toarray()

df['vector'] = [vector for vector in X_array]
feature_model = ["keyword", "location", "target"]
Y = df["target"]
X = X_array

In [11]:
df.head()

,id,keyword,location,text,target,vector
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [12]:
print('Feature name size : ',feature_names.size)
print('A vector dimension size : ', X_array[0].size)

Feature name size :  21973
A vector dimension size :  21973

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

rs = 42
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Y, random_state=rs)

In [14]:
classifier = LogisticRegression(random_state=rs)
lr_model = classifier.fit(Xtrain, Ytrain)
lr_model_ac = accuracy_score(lr_model.predict(Xtest), Ytest)

In [15]:
print(f'Accuracy of the model : {lr_model_ac}')

Accuracy of the model : 0.8093487394957983

In [24]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

df = pd.read_csv('train.csv')
vectorizer = CountVectorizer()
X_text_vectorized = vectorizer.fit_transform(df['text'])

other_features = pd.get_dummies(df[['keyword', 'location']])


# Prepare target labels
X = pd.concat([pd.DataFrame(X_text_vectorized.toarray()), other_features], axis=1)
X.columns = X.columns.astype(str)
Y = df['target']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=rs)

classifier = LogisticRegression(random_state=rs)
classifier.fit(X_train, Y_train)

Y_pred = classifier.predict(X_test)
accuracy = accuracy_score(Y_test, Y_pred)

print("Accuracy with keyword and location :", accuracy)

Accuracy with keyword and location : 0.8174655285620486

In [ ]:
import tkinter